.vscode/desktop.ini
css/desktop.ini
css/partials/desktop.ini
gallery/desktop.ini
js/desktop.ini
library/desktop.ini
library/bootstrap/desktop.ini
library/bootstrap/css/desktop.ini
library/bootstrap/js/desktop.ini
views/desktop.ini
views/produccion/desktop.ini
library/jquery-easing/desktop.ini
library/jquery/desktop.ini
library/bootstrap/css/desktop.ini
library/bootstrap/js/desktop.ini
desktop.ini