.backcolor1 {
  background-color: #25274d;
  color: #aaabb8;
}

.backcolor2 {
  background-color: #464866;
  color: #aaabb8;
}

.backcolor3 {
  background-color: #29648a;
  color: #aaabb8;
}

.backcolor4 {
  background-color: #aaabb8;
  color: #25274d;
}

.backcolor5 {
  background-color: black;
}

.textcolor1 {
  color: #25274d;
}

.textcolor2 {
  color: #464866;
}

.textcolor3 {
  color: #29648a;
}

.textcolor4 {
  color: #aaabb8;
}

body {
  background-color: #25274d;
}

.workplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  min-height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.btn {
  margin: 5%;
  background-color: #25274d;
  color: #aaabb8;
}

.btn:hover {
  background-color: #464866;
  color: #aaabb8;
}

h1 {
  letter-spacing: 5px;
}

main {
  margin-top: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #25274d;
}

::-webkit-scrollbar-thumb {
  background: #aaabb8;
}

@media screen and (min-width: 992px) {
  .outer-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .no-padding {
    padding: 0;
  }
}

#Blog .blog-page {
  padding-top: 100px;
}

.blog-page .blog-content figure,
.blog-page .blog-content .entry-content {
  width: 75%;
}

.blog-page .blog-content figure {
  margin: 0;
  overflow: hidden;
}

.blog-page .blog-content figure img {
  display: block;
  width: 100%;
  height: auto;
}

.blog-page .blog-content .entry-content {
  padding: 25px;
}

.blog-page .blog-content {
  -webkit-transition: all .35s;
  transition: all .35s;
}

.blog-page .blog-content:hover {
  background: #29648a;
}

.blog-page .blog-content header {
  width: 100%;
}

.blog-page .blog-content .entry-content h3 {
  position: relative;
}

.blog-page .blog-content .entry-content h3::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -35px;
  z-index: 99;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}

.blog-page .blog-content .entry-content h3 a {
  color: #29648a;
  font-size: 1.125rem;
  font-weight: 500;
}

.blog-page .blog-content .posted-by {
  margin-top: 10px;
  color: #464866;
  font-size: 0.875rem;
}

.blog-page .blog-content .posted-on {
  position: relative;
  margin-right: 20px;
  color: #aaabb8;
  font-size: 0.875rem;
}

.blog-page .blog-content .posted-on::after {
  content: '/';
  position: absolute;
  top: 0;
  right: -14px;
}

.blog-page .blog-content footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-page .blog-content footer li {
  padding: 0 3px;
  font-size: 0.875rem;
}

.blog-page .blog-content footer li a {
  color: #72efdd;
}

.blog-page .blog-content:hover .entry-content h3 a,
.blog-page .blog-content:hover .posted-by,
.blog-page .blog-content:hover .posted-on,
.blog-page .blog-content:hover footer li a {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .blog-page .col-12:nth-of-type(even) .blog-content {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-flow: row-reverse !important;
            flex-flow: row-reverse !important;
  }
  .blog-page .col-12:nth-of-type(even) .blog-content .entry-content h3::before {
    right: -50px;
    left: auto;
  }
}

@media screen and (max-width: 768px) {
  .blog-page .col-12:nth-of-type(even) .blog-content .entry-content h3::before {
    right: -35px;
  }
  .blog-page .blog-content .entry-content h3 {
    line-height: 1;
  }
}

@media screen and (min-width: 576px) {
  .blog-page .blog-content .entry-content h3 a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .blog-page {
    padding-top: 0;
  }
  .blog-page .blog-content .entry-content {
    padding: 35px 40px;
  }
  .blog-page .blog-content .entry-content h3::before {
    left: -50px;
  }
}

@media screen and (min-width: 1200px) {
  .blog-page .blog-content.flex-row-reverse .entry-content h3::before {
    right: -50px;
    left: auto;
  }
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form-1 {
  padding: 5%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
  text-align: center;
  color: #aaabb8;
}

.login-form-2 {
  padding: 5%;
  background: #25274d;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
  text-align: center;
  color: #fff;
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #aaabb8;
  background-color: #25274d;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #aaabb8;
  background-color: #fff;
}

.login-form-2 .ForgetPwd {
  color: #aaabb8;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .ForgetPwd {
  color: #aaabb8;
  font-weight: 600;
  text-decoration: none;
}

.boxybox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > .nav.nav-tabs {
  border: none;
  color: #aaabb8;
  background: #25274d;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  background: #25274d;
  color: #aaabb8;
}

nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -2px;
  border: 10px solid transparent;
  border-top-color: #aaabb8;
}

.tab-content {
  line-height: 25px;
  border: 1px solid #aaabb8;
  border-top: 5px solid #aaabb8;
  border-bottom: 5px solid #aaabb8;
  padding: 30px 25px;
  min-height: 71vh;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #464866;
  color: #aaabb8;
  border-radius: 0;
  -webkit-transition: background 0.20s linear;
  transition: background 0.20s linear;
}

/* Include the padding and border in an element's total width and height */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove margins and padding from the list */
main ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
main ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 12px 12px 12px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
main ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
main ul li:hover {
  background: #ddd;
}

/* Add a "checked" mark when clicked on */
main ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: red;
  color: white;
}

/* Style the header */
.headerprod {
  background-color: #25274d;
  padding: 30px 40px;
  color: #aaabb8;
  text-align: center;
}

/* Clear floats after the header */
.headerprod:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtnprod {
  padding: 10px;
  width: 25%;
  background: #25274d;
  color: #aaabb8;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0;
}

.addBtnprod:hover {
  background-color: #29648a;
}

.fondo1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.7)), to(#25274d)), url("../gallery/carpinteria.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #25274d 100%), url("../gallery/carpinteria.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40vh 0 40vh;
}

section {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whats-app {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  left: 50px;
  z-index: 100;
}

.whats-floater {
  margin-top: 10px;
}

header {
  padding: 4vh;
}

header section {
  padding: 150px 0;
}

.logo {
  height: 100px;
}

.logo:hover {
  opacity: 0.5;
}

.navbar {
  width: 100%;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  -webkit-box-shadow: 2px 2px 5px;
          box-shadow: 2px 2px 5px;
}

.tooltip-inner {
  background-color: #464866;
}

.zoom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.zoom:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

li {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.chat-app {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  background-color: #464866;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  left: 50px;
  z-index: 100;
}

.chat-floater {
  margin-top: 10px;
}

/* The sidebar menu */
.sidebar {
  height: 60%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: transparent;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  margin-top: 110px;
}

/* The sidebar links */
.sidebar a {
  text-decoration: none;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.chat {
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}

.container {
  -ms-flex-line-pack: center;
      align-content: center;
}

.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}

.search:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.offline {
  background-color: #c23616 !important;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_info span {
  font-size: 20px;
  color: white;
}

.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}

.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.action_menu ul li i {
  padding-right: 10px;
}

.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}
/*# sourceMappingURL=style.css.map */