// productos ***************************************************************

// Outer Container

@media screen and (min-width: 992px) {
    .outer-container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .no-padding {
      padding: 0;
    }
  }
  
  #Blog .blog-page {
    padding-top: 100px;
  }
  
  .blog-page .blog-content figure,
  .blog-page .blog-content .entry-content {
    width: 75%;
  }
  
  .blog-page .blog-content figure {
    margin: 0;
    overflow: hidden;
  }
  
  .blog-page .blog-content figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .blog-page .blog-content .entry-content {
    padding: 25px;
  }
  
  .blog-page .blog-content {
    transition: all .35s;
  }
  
  .blog-page .blog-content:hover {
    background: $color3;
  }
  
  .blog-page .blog-content header {
    width: 100%;
  }
  
  .blog-page .blog-content .entry-content h3 {
    position: relative;
  }
  
  .blog-page .blog-content .entry-content h3::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -35px;
    z-index: 99;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #fff;
  }
  
  .blog-page .blog-content .entry-content h3 a {
    color: $color3;
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  .blog-page .blog-content .posted-by {
    margin-top: 10px;
    color: $color2;
    font-size: 0.875rem;
  }
  
  .blog-page .blog-content .posted-on {
    position: relative;
    margin-right: 20px;
    color: $color4;
    font-size: 0.875rem;
  }
  
  .blog-page .blog-content .posted-on::after {
    content: '/';
    position: absolute;
    top: 0;
    right: -14px;
  }
  
  .blog-page .blog-content footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .blog-page .blog-content footer li {
    padding: 0 3px;
    font-size: 0.875rem;
  }
  
  .blog-page .blog-content footer li a {
    color: $color6;
  }
  
  .blog-page .blog-content:hover .entry-content h3 a,
  .blog-page .blog-content:hover .posted-by,
  .blog-page .blog-content:hover .posted-on,
  .blog-page .blog-content:hover footer li a {
    color: #fff;
  }
  
  @media screen and (max-width: 1200px) {
    .blog-page .col-12:nth-of-type(even) .blog-content {
      flex-flow: row-reverse !important;
    }
  
    .blog-page .col-12:nth-of-type(even) .blog-content .entry-content h3::before {
      right: -50px;
      left: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .blog-page .col-12:nth-of-type(even) .blog-content .entry-content h3::before {
      right: -35px;
    }
  
    .blog-page .blog-content .entry-content h3 {
      line-height: 1;
    }
  }
  
  @media screen and (min-width: 576px) {
    .blog-page .blog-content .entry-content h3 a {
      font-size: 1.5rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    .blog-page {
      padding-top: 0;
    }
  
    .blog-page .blog-content .entry-content {
      padding: 35px 40px;
    }
  
    .blog-page .blog-content .entry-content h3::before {
      left: -50px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .blog-page .blog-content.flex-row-reverse .entry-content h3::before {
      right: -50px;
      left: auto;
    }
  }

  // effect ***********************************************
  .item{
    align-items: center;
    background-color: $color2;
    border: 1px solid $color4;
    display: flex;
    height: 400px;
    justify-content: center;
    position: relative;
    width: 400px;
    z-index: 1000;
    img{
      object-fit: cover;
      height: 400px;
      width: 400px;
    }
    &::before, &::after {
      background-image: linear-gradient(-180deg, #A1DEFF 0%, #5EA3DB 97%);
      content: '';
      height: 100%;
      position: absolute;
      transition: all .2s;
      transition-delay: .2s;
      transform: translateY(0px) translateX(0px);
      width: 100%;
      z-index: -1;
    }
    &::after {
      background-image: linear-gradient(0deg, $color2 0%, $color1 97%);
    }
    &:hover{
      animation-name: hoverPop;
      animation-duration: .4s;
      animation-fill-direction: forward;
      img{  
        box-shadow: 2px 2px 4px 0px rgba(10,12,15,0.27);
        box-shadow: 0px 0px 30px 0px rgba(10,12,15,0.27);
      }
      &::before{
        animation: slick-hover-2 3s .4s linear infinite;
        transform: translateY(-20px) translateX(-20px);
      }
      &::after{
        animation: slick-hover 3s .4s linear infinite reverse;
        transform: translateY(20px) translateX(20px);
      }
    }
  }
  
  @keyframes hoverPop {
    0%, 100% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.05);
    }
    66% {
      transform: scale(.90);
    }
  }
  
  @keyframes slick-hover {
    0.00% {
      transform: translateY(20px) translateX(20px) }
    16.67% {
      transform: translateY(-13px) translateX(-9px) }
    33.33% {
      transform: translateY(4px) translateX(12px) }
    50.00% {
      transform: translateY(20px) translateX(-20px) }
    66.67% {
      transform: translateY(-3px) translateX(8px) }
    83.33% {
      transform: translateY(-15px) translateX(-11px) }
    100.00% {
      transform: translateY(20px) translateX(20px) }
  }
  
  @keyframes slick-hover-2 {
    0.00% {
      transform: translateY(-20px) translateX(-20px) }
    16.67% {
      transform: translateY(3px) translateX(-5px) }
    33.33% {
      transform: translateY(18px) translateX(-10px) }
    50.00% {
      transform: translateY(-20px) translateX(20px) }
    66.67% {
      transform: translateY(15px) translateX(-4px) }
    83.33% {
      transform: translateY(-1px) translateX(15px) }
    100.00% {
      transform: translateY(-20px) translateX(-20px) }
  }