// PRODUCCION ***************************************************************

nav>.nav.nav-tabs {
    border: none;
    color: $color4;
    background: $color1;
  }
  
  nav>div a.nav-item.nav-link,
  nav>div a.nav-item.nav-link.active {
    border: none;
    background: $color1;
    color: $color4;
  }
  
  nav>div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -2px;
    border: 10px solid transparent;
    border-top-color: $color4;
  }
  
  .tab-content {
    line-height: 25px;
    border: 1px solid $color4;
    border-top: 5px solid $color4;
    border-bottom: 5px solid $color4;
    padding: 30px 25px;
    min-height: 71vh;
  }
  
  nav>div a.nav-item.nav-link:hover,
  nav>div a.nav-item.nav-link:focus {
    border: none;
    background: $color2;
    color: $color4;
    border-radius: 0;
    transition: background 0.20s linear;
  }
  
  // agregar programacion de produccion ***********************************************************

  /* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
main ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
main ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 12px 12px 12px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
main ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
main ul li:hover {
  background: #ddd;
}


/* Add a "checked" mark when clicked on */
main ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: red;
  color: white;
}

/* Style the header */
.headerprod {
  background-color: $color1;
  padding: 30px 40px;
  color: $color4;
  text-align: center;
}

/* Clear floats after the header */
.headerprod:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtnprod {
  padding: 10px;
  width: 25%;
  background: $color1;
  color: $color4;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtnprod:hover {
  background-color: $color3;
}